<div class="container mb-5 mt-5">
  <div class="row mb-5">
    <div class="col-md-12">
      <h1 class="text-center" style="color: red;">Apagar Tema</h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <h4 class="text-center" >Vecê tem certeza que deseja apagar esse team? Todas as postagens relacionadas a ele serão igualmente apgadas.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5  class="text-center">Tema:{{tema.descricao}}</h5>
    </div>
  </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-danger" routerLink='/tema'>Não</button>
        <button class="btn btn-success" (click)='apagar()'>Sim</button>
      </div>
    </div>
</div>
